@font-face{
    font-family: 'BNazanin';
    src: url('../fonts/BNazanin.ttf');
    src: url('../fonts/BNazanin.woff') 	format('woff'),
         url('../fonts/BNazanin.eot') 	format('truetype');
    font-weight: bolder;
    font-style:  oblique;
  
}
body{
	font-family: 				"BNazanin";
}
.iframe-subject{
	font-size: 					15px;
	line-height: 				2.5em;
	letter-spacing: 			2px;
	border-bottom: 				1px solid	#ccc;
	text-align: 				right;
	
}

p{
	text-align: 				right;
	direction: 					rtl;
}

img{
	width: 				250px;
	min-height: 		150px;
	border-radius: 		15px;
}
